[submodule "ElementLab1"]
	path = ElementLab1
	url = https://github.com/Mercurial5/ElementLab1.git
[submodule "ElementLab2"]
	path = ElementLab2
	url = https://github.com/Mercurial5/ElementLab2.git
[submodule "ElementLab3"]
	path = ElementLab3
	url = https://github.com/Mercurial5/ElementLab3.git
[submodule "ElementLab4"]
	path = ElementLab4
	url = https://github.com/Mercurial5/ElementLab4.git
